<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CleverTapAccountID</key>
	<string>46R-747-WW7Z</string>
	<key>CleverTapToken</key>
	<string>a4a-264</string>
	<key>CleverTapRegion</key>
	<string>eu1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>CTNotificationServiceExtension</string>
	</dict>
</dict>
</plist>
